<header class="w1000">
    <h1>智高考</h1>
    <span>七分成绩定,三分志愿拼</span>
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/news">资讯</a></li>
        <li><a href="/news/news-detail">资讯详情</a></li>
    </ul>
</header>
